.navbar  {
  /* background-color: var(--color-white) !important; */
  box-shadow: var(--box-shadow );
}
.navbar-light .navbar-brand {
  width: 4%;
  order: 2;
}

.navbar-light .navbar-brand img {
  width: 100%;
}
.navbar-light .navbar-nav .nav-link {
  font-weight: bold;
}

.navbar-expand-lg .navbar-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.navbar-expand-lg .navbar-collapse {
  order: 1;
}

.navbar-expand-lg .navbar-collapse:nth-of-type(2){
  order: 3 !important;
}

@media (min-width:0) and (max-width: 767.98px) { 
  .navbar-light .navbar-brand {
    width: 12%;
  }
}

@media (max-width: 992px) { 
  .navbar-light .navbar-brand {
    order: 0;
  }
  .navbar-expand-lg .navbar-collapse {
    display: none;
  }
}

/*  start offcanvas */

.offcanvas {
  width: 75%;
}
.offcanvas-header {
  border-bottom: 1px solid #cdcdcd;
}
.offcanvas-header img {
  width: 20%;
}
.offcanvas-body .nav-link {
  color: black;
}