.data-compare {
  min-height: 52vh;
}
.data-compare .img-container img{
  width: 50%;
}

.data-compare h1 {
  color: var(--main-Parg);
  margin: 15px 0 20px;
}
.data-compare .data-content {
  position: relative;
}
.deletebtn {
  position: absolute;
  top: 5px;
  right: 5px;
}
.deletebtn:focus {
  box-shadow: none;
}
.deletebtn .delete {
  font-size: 25px;
  color: var(--bs-danger);
}
.imgNotfound {
  width: 80%;
}

.notfoundText {
  color: var(--bs-danger);
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  background-color: white;
  margin: 15px 0 30px;
  box-shadow: var(--box-shadow);
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  background-color: white;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}