@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
/* :root {
  --dafult-padding : 15px;
  --color-white : #fff;
  --color-bg : #e9e9e9;
  --main-color : #253b70;
  --small-color :#b4bdc6;
  --fontsize-normal: 16px;
  --fontsize-medium: 20px;
  --fontsize-larg: 32px;
  --fontsize-xLarg: 45px;
  --fontWeight-light : 300;
  --fontWeight-normal : 400;
  --fontWeight-medium : 500;
  --fontWeight-bold : 700;
  --box-shadow : 0 2px 6px 0 rgb(67 89 113 / 12%);
} */

:root {
  --bs-background: #155185;
  --main-Parg:#004f6c;
  --bs-labany2: #38b9db;
  --bs-labany:#0de0fe;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --green: #09e5ab;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --box-shadow : 0 2px 6px 0 rgb(67 89 113 / 12%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
  /* background-color: #f5f5f9; */
}