
.product-details {
  font-family: 'Almarai', sans-serif;
  /* font-family: 'Cairo', sans-serif; */

}
.product-details .img-container {
  margin: 10px 0;
  text-align: center;
}
.product-details .img-container img {
  width: 70%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.product-details .product-details-container {
  align-items: center;
}
.product-details .product-details-content h2 {
  color: var(--main-Parg);
  margin: 10px 0;
}

.product-details .product-details-content h3 {
  margin: 10px 0;
}
.product-details .price {
  /* padding: 10px; */
  color: var(--bs-gray-dark);
  margin-bottom: 5px;
}

.product-details .price del {
  color: var(  --bs-gray);
  direction: rtl;

}

.description-p {
  direction: rtl;
}

.alertDoc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  margin: 10px auto;
  border: 2px solid  var(  --bs-gray-500);
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(  --bs-gray-700);
}
.alertDoc p {
  margin: 0;
  font-weight: 700;
}
.alertIcon {
  font-size: 22px;
  color: #f27474;
}

.SimilarProducts {
  margin: 15px 0;
  border-top: 1px solid rgb(204, 204, 204);
  padding: 10px;
}
.SimilarProducts h2 {
  margin: 10px auto 20px;
  color: var(--main-Parg);
  /* padding-bottom: 5px;
  width: fit-content; */
}

.product-details .touch-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
  /* color:  var(--bs-gray-dark); */
  color: #f27474;
}

.product-details .touch-icon .MapButton {
  color:  var(--bs-gray-dark);

}